/* gives the background color*/
html {
    background-color: #000000;
}

/* gives width, height to the linklist and makes it able to be scrolled*/
.dropdown-menu {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 300px;
    width: 200px;
}

/*github placement*/
#github {
    background-color: #000000;
    padding-right: 20px;
    padding-bottom: 4px;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 10vh;
}

/*li padding inside dropdown*/
li {
    display: flex;
    cursor: pointer;
    padding-right: 1px;
    padding-left: 1px;
    justify-content: space-evenly;

}

/* gives a hover effect to all the li elements in the list*/
li:hover {
    transition: all 0.1s ease;
    transform: scale(1.2);
    background-color: #a54141;
}

/* placement for info about the current displayed games*/
#about {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

/*placement for the Next button on iframes*/
#dropdown {
    display: flex;
    align-self: flex-end;
    position: absolute;
}

/* only the next button*/
#button {
    width: 160px;
    font-size: 20px;
    padding-right: 20px;
    height: 50px;
}

/*dropdown button and next button*/
button {
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 60px 70px 0 rgba(0, 0, 0, 0.19);
}

/*active button*/
#dropdown:active {
    transition: all 0.1s ease;
    transform: translateY(5px);
}

/*removing scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}

/* fonts colors and placement for iframes*/
#center {
    font-size: 100px;
    width: 100vw;
    display: flex;
    border: 10px #800031;
    border-style: inset;
    background: radial-gradient(circle, rgba(185, 0, 0, 1) 0%, rgb(54, 54, 54) 100%);
    position: relative;
    justify-content: end;
}

/*iframes size and padding*/
iframe {
    width: 100vw;
    height: 97vh;
    padding: 10px;
}

/*section 1 width*/
.s1 {
    width: 100vw;
}

/*section 2 width, height and color*/
.s2 {
    background-color: #000000;
    width: 100%;
    height: 20vh;
    color: aliceblue;
}

/*the like button colors and size*/
#likeButton {
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: black;
    border-radius: 50%;
    border-style: groove;
}

/* gives a click effect to the like button when clicked*/
#likeButton:active {
    transition: all 0.1s ease;
    transform: scale(1.2);
}